@using OptTorgWebDB.Models
@model SendingStatus

<body>
	<main class="w-25 position-absolute top-50 start-50 translate-middle">
		
		<!-- Заголовок -->
		<p class="fs-3 text-decoration-underline fw-bold  m-1">Создать</p>
		<!-- Заголовок 2 -->
		<p class="fs-4 text-decoration-underline m-1">Статус отправки</p>

		<form class="p-5 border d-grid gap-2" asp-controller="SendingStatus" asp-action="CSendingStatus" method="post">
			<div class="form-floating">
				<input class="form-control" asp-for="Status">
				<label asp-for="Status">Наименование</label>
				<span asp-validation-for="Status" class="text-danger"></span>
			</div>

			<button class="btn btn-lg btn-success" type="submit" asp-action="CSendingStatus" method="post">Сохранить</button>
			<button class="btn btn-lg btn-success" type="submit" asp-action="CFewSendingStatus" method="post">Сохранить и добавить еще</button>
		</form>

		<form class="p-5 border d-grid gap-1" asp-controller="SendingStatus" method="get">
			<button class="btn btn-lg btn-warning" type="submit" asp-action="TSendingStatus">Отмена</button>
		</form>
	</main>
</body>

