@using OptTorgWebDB.Models
@model SendingStatus

<body class="text-center">
	<main class="w-25 position-absolute top-50 start-50 translate-middle">
		<!-- Заголовок -->
		<p class="fs-3 text-decoration-underline  fw-bold m-1">Редактировать</p>
		<!-- Заголовок 2 -->
		<p class="fs-4 text-decoration-underline m-1">Статус отправки</p>

		<form class="p-5 border d-grid gap-2" asp-controller="SendingStatus" asp-action="OpenESendingStatus" method="post">
			<div class="form-floating">
				<input class="form-control" asp-for="IdSs" readonly>
				<label asp-for="IdSs">Ид</label>
				<span asp-validation-for="IdSs" class="text-danger" value="IdSs"></span>
			</div>

			<div class="form-floating">
				<input class="form-control" asp-for="Status">
				<label asp-for="Status">Наименование</label>
				<span asp-validation-for="Status" class="text-danger"></span>
			</div>
			<button class="btn btn-lg btn-success" type="submit" asp-action="SaveChangesSendingStatus" method="post">Сохранить</button>
		</form>

		<form class="p-5 d-grid gap-1" asp-controller="SendingStatus" method="get">
			<button class="btn btn-lg btn-warning" type="submit" asp-action="TSendingStatus" method="get">Отмена</button>
		</form>
	</main>
</body>


