@using OptTorgWebDB.Models
@model Employees

<div class="position-relative">
	<div class="w-75 position-absolute top-50 start-50 translate-middle-x">
		<!-- Заголовок -->
		<p class="fs-3 text-decoration-underline  fw-bold m-1">Изменить</p>
		<!-- Заголовок 2 -->
		<p class="fs-4 text-decoration-underline m-1">Данные сотрудника</p>

		<form class="p-3 border" asp-controller="Employees" asp-action="CEmployees" method="post">
			<div class="row">
				<div class="col">
					<p class="fs-5 text-decoration-underline">Адрес</p>
					<div class="row pb-1">
						<div class="col">
							<div class="form-floating">
								<input class="form-control" asp-for="State">
								<label asp-for="State">Страна</label>
								<span asp-validation-for="State" class="text-danger"></span>
							</div>
						</div>

						<div class="col">
							<div class="form-floating">
								<input class="form-control" asp-for="Oblast">
								<label asp-for="Oblast">Область</label>
								<span asp-validation-for="Oblast" class="text-danger"></span>
							</div>
						</div>

						<div class="col">
							<div class="form-floating">
								<input class="form-control" asp-for="City">
								<label asp-for="City">Город</label>
								<span asp-validation-for="City" class="text-danger"></span>
							</div>
						</div>
					</div>
					<div class="row pb-1">
						<div class="col">
							<div class="form-floating">
								<input class="form-control" asp-for="Adress">
								<label asp-for="Adress">Адрес</label>
								<span asp-validation-for="Adress" class="text-danger"></span>
							</div>
						</div>

						<div class="col-2">
							<div class="form-floating">
								<input class="form-control" asp-for="PostIndex">
								<label asp-for="PostIndex">Индекс</label>
								<span asp-validation-for="PostIndex" class="text-danger"></span>
							</div>
						</div>
					</div>
				</div>

				<div class="col col-lg-3">
					<p class="fs-5 text-decoration-underline">Контактное лицо</p>
					<div class="row">
						<div class="col pb-1">
							<div class="form-floating">
								<input class="form-control" asp-for="IdEmployees" readonly>
								<label asp-for="IdEmployees">Ид</label>
								<span asp-validation-for="IdEmployees" class="text-danger"></span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col pb-1">
							<div class="form-floating">
								<input class="form-control" asp-for="Surname">
								<label asp-for="Surname">Фамилия</label>
								<span asp-validation-for="Surname" class="text-danger"></span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col pb-1">
							<div class="form-floating">
								<input class="form-control" asp-for="Name">
								<label asp-for="Name">Имя</label>
								<span asp-validation-for="Name" class="text-danger"></span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col">
							<div class="form-floating">
								<input class="form-control" asp-for="Patronomic">
								<label asp-for="Patronomic">Отчество</label>
								<span asp-validation-for="Patronomic" class="text-danger"></span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-floating">
							<label class="dropdown-header" asp-for="PositionId">Должность</label>
							<select class="form-select m-1" aria-label="Default select example" asp-for="PositionId">
								@foreach (Positions p in Positions.GetAllPositions())
								{
									<option value="@p.IdPositions">@p.Name</option>
								}
							</select>
						</div>
					</div>

					<div class="row">
						<div class="col pb-1">
							<div class="form-floating">
								<input class="form-control" asp-for="PassWord">
								<label asp-for="PassWord">Пароль</label>
								<span asp-validation-for="PassWord" class="text-danger"></span>
							</div>
						</div>
					</div>
				</div>

				<div class="col col-lg-3">
					<p class="fs-5 text-decoration-underline">Контакты</p>

					<div class="row">
						<div class="col pb-1">
							<div class="form-floating">
								<input class="form-control" asp-for="WorkPhone">
								<label asp-for="WorkPhone">Рабочий телефон</label>
								<span asp-validation-for="WorkPhone" class="text-danger"></span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col">
							<div class="form-floating">
								<input class="form-control" asp-for="Email">
								<label asp-for="Email">Эл. почта</label>
								<span asp-validation-for="Email" class="text-danger"></span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col">
							<div class="form-floating">
								<input class="form-control" asp-for="Inn">
								<label asp-for="Inn">ИНН</label>
								<span asp-validation-for="Inn" class="text-danger"></span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="d-grid gap-2 col-5 mx-auto">
				<button class="btn btn-lg btn-success" type="submit" asp-action="SaveChangesEmployees" method="post">Сохранить</button>
			</div>
		</form>

		<form class="p-1 d-grid gap-1" asp-controller="Employees" method="get">
			<div class="d-grid gap-2 col-5 mx-auto">
				<button class="btn btn-lg btn-warning" type="submit" asp-action="TEmployees">Отмена</button>
			</div>
		</form>
	</div>
</div>


