@using OptTorgWebDB.Models
@model Employees

<!DOCTYPE html>

<body class="text-center">

	@if (@ViewBag.Message != null)
	{
		<div class="alert alert-warning alert-dismissible fade show m-1" role="alert">
			@ViewBag.Message
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	}

	<main class="w-25 position-absolute top-50 start-50 translate-middle">
		<form class="p-5 bg-light border d-grid gap-2" asp-controller="Home" asp-action="OnLoginAsEmp" method="post">
			<h1 class="h3 mb-3 fw-normal p-3 ">Авторизация</h1>

			<div class="form-floating">
				<input class="form-control" asp-for="IdEmployees">
				<label asp-for="IdEmployees">Ид</label>
				<span asp-validation-for="IdEmployees" class="text-danger"></span>
			</div>

			<div class="form-floating">
				<input class="form-control" asp-for="PassWord">
				<label asp-for="PassWord">Пароль</label>
			</div>

			<button class="btn btn-lg btn-primary w-25" type="submit" asp-action="OnLoginAsEmp" method="post">Войти</button>
		</form>
	</main>
</body>
