@using OptTorgWebDB.Models
@model Transport

<div class="position-relative">
	<div class="w-75 position-absolute top-50 start-50 translate-middle-x">
		<!-- Заголовок -->
		<p class="fs-3 text-decoration-underline  fw-bold m-1">Редактировать</p>
		<!-- Заголовок 2 -->
		<p class="fs-4 text-decoration-underline m-1">Транспорт</p>

		<form class="p-5 border d-grid gap-2" asp-controller="Transport" asp-action="OpenETransport" method="post">
			<div class="form-floating">
				<input class="form-control" asp-for="IdTransport" readonly>
				<label asp-for="IdTransport">Ид</label>
				<span asp-validation-for="IdTransport" class="text-danger" value="IdTransport"></span>
			</div>

			<div class="form-floating">
				<input class="form-control" asp-for="Name">
				<label asp-for="Name">Наименование</label>
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>

			<div class="form-floating">
				<input class="form-control" asp-for="GosNomer">
				<label asp-for="GosNomer">Госномер</label>
				<span asp-validation-for="GosNomer" class="text-danger"></span>
			</div>

			<div class="form-floating">
				<input class="form-control" asp-for="Tonnage">
				<label asp-for="Tonnage">Тоннаж</label>
				<span asp-validation-for="Tonnage" class="text-danger"></span>
			</div>

			<div class="d-grid gap-2 col-5 mx-auto">
				<button class="btn btn-lg btn-success" type="submit" asp-action="SaveChangesTransport" method="post">Сохранить</button>
			</div>
		</form>

		<form class="p-5 d-grid gap-1" asp-controller="Transport" method="get">
			<div class="d-grid gap-2 col-5 mx-auto">
				<button class="btn btn-lg btn-warning" type="submit" asp-action="TTransport" method="get">Отмена</button>
			</div>
		</form>
	</div>
</div>


