@using OptTorgWebDB.Models
@model Packaging

<div class="position-relative">
	<div class="w-50 position-absolute top-50 start-50 translate-middle-x">

		<!-- Заголовок -->
		<p class="fs-3 text-decoration-underline fw-bold  m-1">Создать</p>
		<!-- Заголовок 2 -->
		<p class="fs-4 text-decoration-underline m-1">Тип упаковки</p>

		<form class="p-5 border d-grid gap-2" asp-controller="Packaging" asp-action="CPackaging" method="post">
			<div class="form-floating">
				<input class="form-control" asp-for="Type">
				<label asp-for="Type">Наименование</label>
				<span asp-validation-for="Type" class="text-danger"></span>
			</div>

			<div class="d-grid gap-2 col-5 mx-auto">
				<button class="btn btn-lg btn-success" type="submit" asp-action="CPackaging" method="post">Сохранить</button>
				<button class="btn btn-lg btn-success" type="submit" asp-action="CFewPackaging" method="post">Сохранить и добавить еще</button>
			</div>
		</form>

		<form class="p-5 border d-grid gap-1" asp-controller="Packaging" method="get">
			<div class="d-grid gap-2 col-5 mx-auto">
				<button class="btn btn-lg btn-warning" type="submit" asp-action="TPackaging">Отмена</button>
			</div>
		</form>
	</div>
</div>

