<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/OptTorgWeb.styles.css" asp-append-version="true" />

	<!-- Custom CSS -->
    <link href="~/css/nbsstyle.css" rel="stylesheet">
</head>
<body>
    <!-- Dash Navbar Top -->
    <nav class="navbar navbar-light bg-faded navbar-static-top dash-navbar-top nb-visible">
        <button class="nb-btn-toggle">
            <span class="fa fa-bars"></span>
        </button>
    </nav>

    <!-- Dash Navbar Left -->
    <div class="dash-navbar-left nb-visible">
        <a class="navbar-brand" href="#">Admin</a>

		<!-- Section 1 "Simple"-->
        <p class="nb-nav-title">Простые тыблицы</p>
        <ul class="nb-nav">

            <li class="dropdown">
                <a href="#" class="nav-link dropdown-toggle my-text-style" id="dropdown" data-bs-toggle="dropdown">
                    <i class="bi-bootstrap"></i><span class="d-none d-sm-inline">Bootstrap</span>
                </a>

                <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end dropdown-color">
                    <li><a href="#" class="dropdown-item text-black">New project... project...</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                </ul>
            </li>

            <li>
                <a href="#">
                    <span class="glyphicon glyphicon-comment nb-link-icon"></span>
                    <span class="nb-link-text">Comments</span>
                </a>
            </li>
        </ul>

        <!-- Section 1 "Middle"-->
        <p class="nb-nav-title">Средние таблицы</p>
        <ul class="nb-nav">
            
        </ul>

        <!-- Section 1 "Hard"-->
        <p class="nb-nav-title">Составные таблицы</p>
        <ul class="nb-nav">
            
        </ul>

        <!-- Section 1 "Documents"-->
        <p class="nb-nav-title">Отчеты</p>
        <ul class="nb-nav">
        </ul>
    </div> <!-- /.dash-navbar-left -->


    <div class="content-wrap nb-visible" data-effect="nb-push">
        <div class="container-fluid">
            <div class="row">
                <!-- Your content here -->
                <div class="container">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
                <!-- End of your content -->
            </div>
        </div>
    </div> <!-- /.content-wrap -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>