@using OptTorgWebDB.Models
@model ProductSort

<div class="position-relative">
	<div class="w-50 position-absolute top-50 start-50 translate-middle-x">
		<!-- Заголовок -->
		<p class="fs-3 text-decoration-underline  fw-bold m-1">Редактировать</p>
		<!-- Заголовок 2 -->
		<p class="fs-4 text-decoration-underline m-1">Сорт товара</p>

		<form class="p-5 border d-grid gap-2" asp-controller="ProductSort" asp-action="OpenEProductSort" method="post">
			<div class="form-floating">
				<input class="form-control" asp-for="IdPs" readonly>
				<label asp-for="IdPs">Ид</label>
				<span asp-validation-for="IdPs" class="text-danger" value="IdPs"></span>
			</div>

			<div class="form-floating">
				<input class="form-control" asp-for="SortName">
				<label asp-for="SortName">Наименование</label>
				<span asp-validation-for="SortName" class="text-danger"></span>
			</div>
			<div class="d-grid gap-2 col-5 mx-auto">
				<button class="btn btn-lg btn-success" type="submit" asp-action="SaveChangesProductSort" method="post">Сохранить</button>
			</div>
		</form>

		<form class="p-5 d-grid gap-1" asp-controller="ProductSort" method="get">
			<div class="d-grid gap-2 col-5 mx-auto">
				<button class="btn btn-lg btn-warning" type="submit" asp-action="TProductSort" method="get">Отмена</button>
			</div>
		</form>
	</div>
</div>



